In [2]:
import MySQLdb
import pandas as pd
con = MySQLdb.connect(host="sqld.duapp.com", port=4050,
                      user='queZmS6mzzV5Ys8jnNuTT5aK',passwd='PYUP7WRZXcgrNZ69BTD9PpLXBL28OGqb', 
                      db='juswNKRZvlCHhgfaguFy')
report = pd.read_sql('select * from report', con)

ImportError: No module named MySQLdb

In [43]:
import pandas as pd
report = pd.read_csv('f:/report.csv',header=None)
del report[0]
report.columns = ['task','word','subj','score','rt','redo']
report[report.rt<500] = None
report.iloc[report[report.rt>10000].index,4] = None
report = report[report.task==2]

In [47]:
import pandas as pd
report = pd.read_csv('f:/report.csv',header=None)
del report[0]
report.columns = ['task','word','subj','score','rt','redo']
report[report.rt<500] = None
report.iloc[report[report.rt>10000].index,4] = None

In [48]:
stats = []
for word,item in report.groupby('word'):    
    mean = item.rt.mean()
    std = item.rt.std()
    rt = item[((mean - 2*std) < item.rt) & (item.rt< (mean + 2*std))].rt.mean()
    
    mean = item.score.mean()
    std = item.score.std()
    score = item[((mean - 2*std) <= item.score) & (item.score<= (mean + 2*std))].score.mean()
    
    stats.append([word,round(score,1),int(rt)])
stats = pd.DataFrame(stats)

words=[]
for ind,i in stats[stats[0].str.len()==4].iterrows():
    p1 = stats[stats[0]==i[0][:2]]
    p2 = stats[stats[0]==i[0][:2]]
    words.append([i[0],i[1],i[2],p1.iloc[0,1],p1.iloc[0,2],p2.iloc[0,1],p2.iloc[0,2]])
words = pd.DataFrame(words)
words.columns = ['word','s0','t0','s1','t1','s2','t2']

In [29]:
import random
parts = []
for w in words[(words.s0>4) & (words.s1<2) & (words.s1<2) & (words.t0<1500)].word.tolist():
    parts.append(w[:2])
    parts.append(w[2:])
random.shuffle(parts)
Fff = [a+b for a,b in zip(parts[:len(parts)//2],parts[len(parts)//2:])]

In [25]:
# words[(words.s0>4) & (words.s1>4) & (words.s1>4) & (words.t0>1300)] # ex雄心壮志
words[(words.s0>4) & (words.s1<2) & (words.s1<2)]

     word  s0    t0   s1    t1   s2    t2
101  喧宾夺主   5  1520  1.2  1571  1.2  1571
231  日进斗金   5  1523  1.7  2420  1.7  2420
335  积少成多   5  1517  1.5  2246  1.5  2246
407  轻而易举   5  1568  1.3  1366  1.3  1366

In [28]:
print(words[(words.s0>4) & (words.s1<2) & (words.s1<2)].t0.mean(), # T tt
      words[(words.s0>4) & (words.s1>4) & (words.s1>4)].t0.mean()) #T ff

1148.0361445783133 1119.4421768707482

In [188]:
T = 4
F = 2
Ttt = words[(words.s0>T) & (words.s1>T) & (words.s1>T)]
Ftt = words[(words.s0<F) & (words.s1>T) & (words.s1>T)]
Tff = words[(words.s0>T) & (words.s1<F) & (words.s1<F)]
Fff = words[(words.s0<F) & (words.s1<F) & (words.s1<F)]
len(Ttt),len(Tff),len(Ftt),len(Fff)
Ttt1.to_csv('',index=None)
Tff1 = pd.DataFrame(Tff1)
Ftt1 = pd.DataFrame(Ftt1)
Fff1 = pd.DataFrame(Fff1)

(153, 88, 110, 67)

In [202]:
def sample(stimuli):
    indexs = list(range(len(stimuli)))
    stimuli.index = indexs

    rows = random.sample(range(len(stimuli)), 64)
    new = stimuli.ix[rows,0]
    return new
con_result = pd.concat([sample(Ttt),sample(Tff),sample(Ftt),sample(Fff)])
con_result.to_csv('F:\Coding\py\py3\experiment\stimuli1.csv',index=None)

In [72]:
Ttt1 = []
Tff1 = []
Ftt1 = []
Fff1 = []

T = 4
F = 2
Ttt = words[(words.s0>T) & (words.s1>T) & (words.s1>T)]
Ftt = words[(words.s0<F) & (words.s1>T) & (words.s1>T)]
Tff = words[(words.s0>T) & (words.s1<F) & (words.s1<F)]
Fff = words[(words.s0<F) & (words.s1<F) & (words.s1<F)]

def parts(words):
    w=[]
    for i in words.word:
        w.append(i[:2])
        w.append(i[2:])
    return set(w)

inter = parts(Ttt).intersection(parts(Ftt))
for ind,i in Ttt.iterrows():
    if i.word[:2] in inter and i.word[2:] in inter:
        Ttt1.append(i)
for ind,i in Ftt.iterrows():
    if i.word[:2] in inter and i.word[2:] in inter:
        Ftt1.append(i)
        
inter = parts(Tff).intersection(parts(Fff))
for ind,i in Tff.iterrows():
    if i.word[:2] in inter and i.word[2:] in inter:
        Tff1.append(i)
for ind,i in Fff.iterrows():
    if i.word[:2] in inter and i.word[2:] in inter:
        Fff1.append(i)
        
Ttt1 = pd.DataFrame(Ttt1)
Tff1 = pd.DataFrame(Tff1)
Ftt1 = pd.DataFrame(Ftt1)
Fff1 = pd.DataFrame(Fff1)

In [133]:

new = []
for i in Ftt1:
    new.append([i[:2],0,i[2:],0])
Ftt2 = pd.DataFrame(new)
new = []
for i in Fff1:
    new.append([i[:2],0,i[2:],0])
Fff2 = pd.DataFrame(new)

In [117]:
import random

for i in range(10000):
    state = 1
    s = set()
    POSs = []
    for i in Ttt1:
        pos = random.randint(0,1)
        s.add(i.word[pos*2:pos*2+2])
        POSs.append(pos)
    for i in Ftt1:
        if i.word[:2] in s and i.word[2:] in s:
            state = 0
            break
    if state == 1:
        print(POSs)
        break

In [ ]:
import random
state = 1
s = set()
POSs = []
i = 0
redo = [0]
while 1:
    word = Ttt1[i]
    if redo[i]==0:
        pos = random.randint(0,1)
        redo[i]+=1
    elif redo[i]==1:
        pos = 1-pos
        redo[i]+=1
    else:
        i-=1
        continue
        
    part = word[pos*2:pos*2+2]
    exist1 = Ftt2[Ftt2[0]==part].index
    exist2 = Ftt2[Ftt2[2]==part].index
    if len(exist1)>0 & len(exist2)>0:
        i-=1
        continue
    elif len(exist1) + len(exist2) == 0:
        Ftt2.iloc[Ftt2[Ftt2[0]==part].index,3] == 1

        POSs.append(pos)
    elif len(exist1)>0:
        
        
    i+=1
    redo[i] = 0

In [169]:
import sqlite3
con = sqlite3.connect('d:\\lab\\hanzi.db')
# import pandas.io.sql as sql
# t=sql.read_frame('SELECT Character,Stroke_Num FROM hanzi',con)

c = con.cursor()
c.execute('SELECT Character,Stroke_Num FROM hanzi')
sql_result = dict(c.fetchall())

In [ ]:
for i in Ftt1:
    state1 = i.word[:2] in s
    state2 = i.word[2:] in s
    if state1 and state2:
        state = 0
        break
    elif (not state1) and (not state2):
        pos = random.randint(0,1)
        s.add(i.word[pos*2:pos*2+2])

In [36]:
for i in set(report.subj):
   print(i,report[report.subj==i].size/6)

zhangyingying 83.0
test 3.0
gengshuang 83.0
hansizhu 83.0
wangyuhao 83.0
wuhuining 83.0
xinyushi 83.0
luocheng 83.0
zhangruiqing 83.0

In [71]:
len(list(t.groupby('word')))

85